*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background: #800020;
    height: 100px;
    display: flex;
    justify-content:  center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__item{
    height: 80px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: left;
}
.navbar__container{
    background-color: #800020;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo{
    font-size: 40px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    align-self: center;
    
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    align-items: center;
    object-fit: cover;
    background-color: #800020;
}

#bell{
    display: flex;
    width: 40px;
}

#person{
    display: flex;
    width: 70px;
}

#tagline{
    display: flex;
    padding: 50px;
    align-items: center;
    
}

.menubar{
    display: flex;
    height: 100px;
    justify-content:  top;
    align-items: top;
    font-size: 1.2rem;
   
    top: 0;
    z-index: 999;
}

.menubar__container{
    height: 100px;
    display: flex;
    width: 100%;
    border: 15px black; 
}
.menubar__item{
    display: flex;
    height: 10px;
    width: 120px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    margin:  20px;
    padding: 25px;
    border: 2px solid grey;
}

.sort{
    width: 500px;
    list-style: none;
    align-items: top;
    display: flex;
    justify-content: center;
    position: sticky;
    padding: 10px;
    height: 100px;
    
    
}

.sort__item{
    height: 100px;
    padding: 10px;
    align-self: top;
    width: 500px;
}

#search{
    height: 30px;
    padding: 1px;
    width: 300px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropbtn{
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 10px;
    border: none;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
    width: 200px;
    color:grey;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.flexbox-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.show{display:block;}
.dropdown-content a:hover{background-color: #ddd;}
/*
.dropdown:hover .dropdown-content{ display: block;}

.dropdown:hover .dropbtn{background-color: #3e8341;}
*/