.ProfileFrame{
    height: 500px;
    width: 400px;
    max-width: 400px;
    outline: 1px solid black;
    margin: 25px;
    padding: 5px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;

}

.pic{
    width: 100%;
    height: 300px;
}

.Detailbox{
    font: Verdana;
    font-size: 10px;
    position: relative;
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    width: 100%;
}

.bookButton{
    background-color: #800020;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    position: relative;
    font-size: 20px;
    display: block;
    float: 10px;
    top: 75px;
    right: 132.5px;
    padding-bottom: 1px;
}

.reviewButton{
    text-decoration: underline;
    background-color: #fff;
    border: 0px;
    position: relative;
    float: right;
    color:black;
    font-size: 20px;
    top: 50px;
    right: 1px;
}

.subjectLabel{
    top: 50px;
    font-size: 20px;
    position: absolute;
    top: 110px;
}


.priceLabel{
    position: relative;
    float: right;
    font-size: 15px;
    top: 50px;
    
}
.firstNameCampusLabel{
    font-size: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    text-align: left;
    width: 100%;
    display: block;
}

.ratingLabel{
    font-size: 15px;
    position: absolute;
    right: 1px;
    top: 60px;
}

.campusLabel{
    font-size: 30px;
    position: relative;
    float:  left;
}