* {
  font-family: "Poppins", "sans-serif";
}

body {
  background: linear-gradient(90deg, #94041B 45%, #FFFFFF 0);
  margin: 0;
}

.white_block {
  float: right;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 55%;
  text-align: center;
}

.home {
  color: #94051C;
  background-color: #FFFFFF;
  border: none;
  font-size: 90px;
  margin-top: 15%;
}

.home a {
  text-decoration: none;
  color: #94051C;
}

.login {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
}

input {
  font-size: 14px;
  background-color: #FCFCFC;
  border-radius: 5px;
  border: 2px solid #CECECE;
  width: 275px;
  height: 20px;
  padding: 5px;
  margin: 4px;
}

input:hover {
  border-color: #666666;
}

.loginButton {
  float: right;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #0C96E6;
  border-radius: 5px;
  border: 2px solid #0C96E6;
  width: 75px;
  padding: 5px;
  margin-top: 20px;
  margin-right: 2px;
}

.loginButton:hover {
  opacity: 0.8;
}

.sign_up {
  color: #222222;
  font-size: 13px;
  font-weight: bold;
  margin: auto;
}

span.site {
  color: #94051C;
}

.sign_up a {
  color: black;
}
