* {
  font-family: "Verdana";
}

body {
  background: linear-gradient(90deg, #FFFFFF 55%, #94051C 0);
}

h1 {
  color: #94051C;
  font-size: 90px;
  position: fixed;
  top: 10px;
  left: 100px;
}

.register {
  position: fixed;
  top: 215px;
  left: 100px;
}

input {
  font-size: 14px;
  background-color: #FCFCFC;
  border-radius: 5px;
  border: 2px solid #CECECE;
  width: 275px;
  height: 20px;
  padding: 5px;
  margin: 4px;
}

input:hover {
  border-color: #666666;
}

select {
  font-size: 14px;
  background-color: #FCFCFC;
  color: black;
  border-radius: 5px;
  border: 2px solid #CECECE;
  width: 289px;
  height: 34px;
  padding: 5px;
  margin: 4px;
}

select:invalid { 
  color: gray; 
}

select:invalid option:not(:disabled) { 
  color: black;
}

select:hover {
  border-color: #666666;
}

.label {
  margin-left: 4px;
}

button {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #0C96E6;
  border-radius: 5px;
  border: 2px solid #0C96E6;
  width: 75px;
  padding: 5px;
  position: fixed;
  left: 104px;
}

button:hover {
  opacity: 0.8;
}

h5 {
  color: #222222;
  font-size: 12px;
  position: fixed;
  left: 104px;
  margin-top: 5px;
}